body {
  background-color: #232323;
  color: white;
}
.logo {
margin-top: 100px;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}
.recommend{
    color: #828587;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}
button{
    background-color: #696969;
    border: none;
    color: white;
    padding: 5px;
    font-size: medium;
    border-radius: 5px;
    font-weight: bold;
    padding: 10px;
}
